In [1]:
import csv
import pandas as pd
import numpy as np
import os
import json

In [2]:
file_path="Community_Health_Indicator_Reports__CHIRS___Latest_Data.csv"

health_stats=pd.read_csv(file_path)

In [3]:
health_stats.head()

,County Name,Health Topic Number,Health Topic,Indicator Number,Indicator,Event Count,Average Number of Denominator,Measure Unit,Percent/Rate,Lower Limit of 95% CI,Upper Limit of 95% CI,Data Comments,Quartile,Data Years,Data Source,Mapping Distribution,Location
0,Mohawk Valley,1,Cancer Indicators,g1,"All cancer incidence rate per 100,000",5124.0,264241.0,Rate,646.4,NaN,NaN,NaN,NaN,2010-2012,"Cancer Registry Data as of April, 2015",NaN,NaN
1,North Country,1,Cancer Indicators,g1,"All cancer incidence rate per 100,000",5993.0,306231.0,Rate,652.3,NaN,NaN,NaN,NaN,2010-2012,"Cancer Registry Data as of April, 2015",NaN,NaN
2,Tug Hill Seaway,1,Cancer Indicators,g1,"All cancer incidence rate per 100,000",4034.0,257610.0,Rate,522.0,NaN,NaN,NaN,NaN,2010-2012,"Cancer Registry Data as of April, 2015",NaN,NaN
3,Central NY,1,Cancer Indicators,g1,"All cancer incidence rate per 100,000",18896.0,1025519.0,Rate,614.2,NaN,NaN,NaN,NaN,2010-2012,"Cancer Registry Data as of April, 2015",NaN,NaN
4,Southern Tier,1,Cancer Indicators,g1,"All cancer incidence rate per 100,000",8183.0,449813.0,Rate,606.4,NaN,NaN,NaN,NaN,2010-2012,"Cancer Registry Data as of April, 2015",NaN,NaN

In [4]:
obs_stats=health_stats[health_stats['Indicator']=='Age-adjusted percentage of adults obese (BMI 30 or higher)']

In [5]:
obs_stats=obs_stats[obs_stats['Location'].notna()]
obs_stats.head()

,County Name,Health Topic Number,Health Topic,Indicator Number,Indicator,Event Count,Average Number of Denominator,Measure Unit,Percent/Rate,Lower Limit of 95% CI,Upper Limit of 95% CI,Data Comments,Quartile,Data Years,Data Source,Mapping Distribution,Location
4821,Albany,10,Obesity and Related Indicators,g75,Age-adjusted percentage of adults obese (BMI 3...,NaN,NaN,Percentage,26.0,21.8,30.1,NaN,0 - < 30.3 : Q1 & Q2,2013-2014,NYS Expanded Behavioral Risk Factor Surveillan...,1.0,"(42.678066, -73.814233)"
4822,Allegany,10,Obesity and Related Indicators,g75,Age-adjusted percentage of adults obese (BMI 3...,NaN,NaN,Percentage,30.6,23.9,37.4,NaN,30.3 - < 32.7 : Q3,2013-2014,NYS Expanded Behavioral Risk Factor Surveillan...,2.0,"(42.226801, -78.020567)"
4823,Broome,10,Obesity and Related Indicators,g75,Age-adjusted percentage of adults obese (BMI 3...,NaN,NaN,Percentage,31.7,26.0,37.3,NaN,30.3 - < 32.7 : Q3,2013-2014,NYS Expanded Behavioral Risk Factor Surveillan...,2.0,"(42.122015, -75.933191)"
4824,Cattaraugus,10,Obesity and Related Indicators,g75,Age-adjusted percentage of adults obese (BMI 3...,NaN,NaN,Percentage,33.5,27.1,40.0,NaN,32.7 + : Q4,2013-2014,NYS Expanded Behavioral Risk Factor Surveillan...,3.0,"(42.224267, -78.606673)"
4825,Cayuga,10,Obesity and Related Indicators,g75,Age-adjusted percentage of adults obese (BMI 3...,NaN,NaN,Percentage,33.0,24.8,41.1,NaN,32.7 + : Q4,2013-2014,NYS Expanded Behavioral Risk Factor Surveillan...,3.0,"(42.940095, -76.560755)"

In [6]:
obs_stats=obs_stats[['County Name','Percent/Rate']]
obs_stats=obs_stats.rename(columns={"County Name": "County","Percent/Rate":"Percentage"})
obs_stats.head()

           County  Percentage
4821       Albany        26.0
4822     Allegany        30.6
4823       Broome        31.7
4824  Cattaraugus        33.5
4825       Cayuga        33.0

In [7]:
obs_stats

           County  Percentage
4821       Albany        26.0
4822     Allegany        30.6
4823       Broome        31.7
4824  Cattaraugus        33.5
4825       Cayuga        33.0
...           ...         ...
4882        Bronx        31.0
4883        Kings        24.8
4884     New York        16.8
4885       Queens        22.1
4886     Richmond        23.2

[62 rows x 2 columns]

In [8]:

obs_stats.reset_index(drop=True)

         County  Percentage
0        Albany        26.0
1      Allegany        30.6
2        Broome        31.7
3   Cattaraugus        33.5
4        Cayuga        33.0
..          ...         ...
57        Bronx        31.0
58        Kings        24.8
59     New York        16.8
60       Queens        22.1
61     Richmond        23.2

[62 rows x 2 columns]

In [9]:
obs_stats.to_csv("NY_Stats.csv",index=False)

In [10]:
with open("NY_Stats.csv",'r') as f:
    reader=csv.DictReader(f)
    a=list(reader)
    
print(json.dumps(a,indent=2))

[
  {
    "County": "Albany",
    "Percentage": "26.0"
  },
  {
    "County": "Allegany",
    "Percentage": "30.6"
  },
  {
    "County": "Broome",
    "Percentage": "31.7"
  },
  {
    "County": "Cattaraugus",
    "Percentage": "33.5"
  },
  {
    "County": "Cayuga",
    "Percentage": "33.0"
  },
  {
    "County": "Chautauqua",
    "Percentage": "32.1"
  },
  {
    "County": "Chemung",
    "Percentage": "29.8"
  },
  {
    "County": "Chenango",
    "Percentage": "38.9"
  },
  {
    "County": "Clinton",
    "Percentage": "26.8"
  },
  {
    "County": "Columbia",
    "Percentage": "24.0"
  },
  {
    "County": "Cortland",
    "Percentage": "30.8"
  },
  {
    "County": "Delaware",
    "Percentage": "25.8"
  },
  {
    "County": "Dutchess",
    "Percentage": "25.5"
  },
  {
    "County": "Erie",
    "Percentage": "30.7"
  },
  {
    "County": "Essex",
    "Percentage": "37.0"
  },
  {
    "County": "Franklin",
    "Percentage": "33.4"
  },
  {
    "County": "Fulton",
    "Percentage": "31.4"
  },
  {
    "County": "Genesee",
    "Percentage": "30.8"
  },
  {
    "County": "Greene",
    "Percentage": "31.4"
  },
  {
    "County": "Hamilton",
    "Percentage": "25.9"
  },
  {
    "County": "Herkimer",
    "Percentage": "38.2"
  },
  {
    "County": "Jefferson",
    "Percentage": "31.8"
  },
  {
    "County": "Lewis",
    "Percentage": "33.6"
  },
  {
    "County": "Livingston",
    "Percentage": "32.7"
  },
  {
    "County": "Madison",
    "Percentage": "32.9"
  },
  {
    "County": "Monroe",
    "Percentage": "24.5"
  },
  {
    "County": "Montgomery",
    "Percentage": "30.1"
  },
  {
    "County": "Nassau",
    "Percentage": "20.8"
  },
  {
    "County": "Niagara",
    "Percentage": "30.7"
  },
  {
    "County": "Oneida",
    "Percentage": "36.6"
  },
  {
    "County": "Onondaga",
    "Percentage": "27.9"
  },
  {
    "County": "Ontario",
    "Percentage": "26.8"
  },
  {
    "County": "Orange",
    "Percentage": "32.5"
  },
  {
    "County": "Orleans",
    "Percentage": "38.5"
  },
  {
    "County": "Oswego",
    "Percentage": "33.8"
  },
  {
    "County": "Otsego",
    "Percentage": "25.9"
  },
  {
    "County": "Putnam",
    "Percentage": "20.5"
  },
  {
    "County": "Rensselaer",
    "Percentage": "26.8"
  },
  {
    "County": "Rockland",
    "Percentage": "23.1"
  },
  {
    "County": "St. Lawrence",
    "Percentage": "32.7"
  },
  {
    "County": "Saratoga",
    "Percentage": "25.9"
  },
  {
    "County": "Schenectady",
    "Percentage": "32.8"
  },
  {
    "County": "Schoharie",
    "Percentage": "28.7"
  },
  {
    "County": "Schuyler",
    "Percentage": "22.9"
  },
  {
    "County": "Seneca",
    "Percentage": "28.9"
  },
  {
    "County": "Steuben",
    "Percentage": "32.8"
  },
  {
    "County": "Suffolk",
    "Percentage": "28.4"
  },
  {
    "County": "Sullivan",
    "Percentage": "27.7"
  },
  {
    "County": "Tioga",
    "Percentage": "36.5"
  },
  {
    "County": "Tompkins",
    "Percentage": "21.1"
  },
  {
    "County": "Ulster",
    "Percentage": "26.4"
  },
  {
    "County": "Warren",
    "Percentage": "30.5"
  },
  {
    "County": "Washington",
    "Percentage": "28.4"
  },
  {
    "County": "Wayne",
    "Percentage": "36.8"
  },
  {
    "County": "Westchester",
    "Percentage": "21.0"
  },
  {
    "County": "Wyoming",
    "Percentage": "29.3"
  },
  {
    "County": "Yates",
    "Percentage": "31.9"
  },
  {
    "County": "Bronx",
    "Percentage": "31.0"
  },
  {
    "County": "Kings",
    "Percentage": "24.8"
  },
  {
    "County": "New York",
    "Percentage": "16.8"
  },
  {
    "County": "Queens",
    "Percentage": "22.1"
  },
  {
    "County": "Richmond",
    "Percentage": "23.2"
  }
]

In [11]:
with open('NY_Stats.json','w') as outfile:
    json.dump(a,outfile)

In [12]:
geo_coord=obs_stats[['County','Location']]
geo_coord.to_csv("Geo_Loc_Counties.csv",index=False)

KeyError: "['Location'] not in index"

In [13]:
with open("Geo_Loc_Counties.csv",'r') as f:
    reader=csv.DictReader(f)
    b=list(reader)
print(json.dumps(b,indent=2))

[
  {
    "County": "Albany",
    "Location": "(42.678066, -73.814233)"
  },
  {
    "County": "Allegany",
    "Location": "(42.226801, -78.020567)"
  },
  {
    "County": "Broome",
    "Location": "(42.122015, -75.933191)"
  },
  {
    "County": "Cattaraugus",
    "Location": "(42.224267, -78.606673)"
  },
  {
    "County": "Cayuga",
    "Location": "(42.940095, -76.560755)"
  },
  {
    "County": "Chautauqua",
    "Location": "(42.246904, -79.315313)"
  },
  {
    "County": "Chemung",
    "Location": "(42.116644, -76.812331)"
  },
  {
    "County": "Chenango",
    "Location": "(42.481798, -75.570013)"
  },
  {
    "County": "Clinton",
    "Location": "(44.731944, -73.548883)"
  },
  {
    "County": "Columbia",
    "Location": "(42.276913, -73.682168)"
  },
  {
    "County": "Cortland",
    "Location": "(42.597101, -76.143291)"
  },
  {
    "County": "Delaware",
    "Location": "(42.242972, -74.997944)"
  },
  {
    "County": "Dutchess",
    "Location": "(41.686216, -73.840468)"
  },
  {
    "County": "Erie",
    "Location": "(42.888143, -78.795544)"
  },
  {
    "County": "Essex",
    "Location": "(44.166026, -73.685145)"
  },
  {
    "County": "Franklin",
    "Location": "(44.705699, -74.340621)"
  },
  {
    "County": "Fulton",
    "Location": "(43.06014, -74.331296)"
  },
  {
    "County": "Genesee",
    "Location": "(43.000121, -78.172679)"
  },
  {
    "County": "Greene",
    "Location": "(42.298326, -73.973376)"
  },
  {
    "County": "Hamilton",
    "Location": "(43.618468, -74.395268)"
  },
  {
    "County": "Herkimer",
    "Location": "(43.070026, -74.994246)"
  },
  {
    "County": "Jefferson",
    "Location": "(44.019295, -75.898971)"
  },
  {
    "County": "Lewis",
    "Location": "(43.785537, -75.446296)"
  },
  {
    "County": "Livingston",
    "Location": "(42.763754, -77.765392)"
  },
  {
    "County": "Madison",
    "Location": "(42.986917, -75.720031)"
  },
  {
    "County": "Monroe",
    "Location": "(43.161748, -77.620143)"
  },
  {
    "County": "Montgomery",
    "Location": "(42.933637, -74.341972)"
  },
  {
    "County": "Nassau",
    "Location": "(40.715749, -73.601185)"
  },
  {
    "County": "Niagara",
    "Location": "(43.134634, -78.856419)"
  },
  {
    "County": "Oneida",
    "Location": "(43.149482, -75.361773)"
  },
  {
    "County": "Onondaga",
    "Location": "(43.065629, -76.168033)"
  },
  {
    "County": "Ontario",
    "Location": "(42.894571, -77.252045)"
  },
  {
    "County": "Orange",
    "Location": "(41.422459, -74.241929)"
  },
  {
    "County": "Orleans",
    "Location": "(43.248394, -78.218438)"
  },
  {
    "County": "Oswego",
    "Location": "(43.39123, -76.31133)"
  },
  {
    "County": "Otsego",
    "Location": "(42.564852, -75.060334)"
  },
  {
    "County": "Putnam",
    "Location": "(41.41131, -73.717443)"
  },
  {
    "County": "Rensselaer",
    "Location": "(42.70098, -73.628669)"
  },
  {
    "County": "Rockland",
    "Location": "(41.127287, -74.017033)"
  },
  {
    "County": "St. Lawrence",
    "Location": "(44.689468, -75.242045)"
  },
  {
    "County": "Saratoga",
    "Location": "(43.00894, -73.786779)"
  },
  {
    "County": "Schenectady",
    "Location": "(42.809233, -73.946838)"
  },
  {
    "County": "Schoharie",
    "Location": "(42.643426, -74.434606)"
  },
  {
    "County": "Schuyler",
    "Location": "(42.38593, -76.872032)"
  },
  {
    "County": "Seneca",
    "Location": "(42.833627, -76.82753)"
  },
  {
    "County": "Steuben",
    "Location": "(42.270053, -77.324618)"
  },
  {
    "County": "Suffolk",
    "Location": "(40.820237, -73.119032)"
  },
  {
    "County": "Sullivan",
    "Location": "(41.705166, -74.711705)"
  },
  {
    "County": "Tioga",
    "Location": "(42.120252, -76.29595)"
  },
  {
    "County": "Tompkins",
    "Location": "(42.461024, -76.478784)"
  },
  {
    "County": "Ulster",
    "Location": "(41.848374, -74.099412)"
  },
  {
    "County": "Warren",
    "Location": "(43.403024, -73.716044)"
  },
  {
    "County": "Washington",
    "Location": "(43.289513, -73.454761)"
  },
  {
    "County": "Wayne",
    "Location": "(43.144336, -77.117995)"
  },
  {
    "County": "Westchester",
    "Location": "(41.039278, -73.805386)"
  },
  {
    "County": "Wyoming",
    "Location": "(42.723641, -78.204473)"
  },
  {
    "County": "Yates",
    "Location": "(42.634338, -77.078311)"
  },
  {
    "County": "Bronx",
    "Location": "(40.85589, -73.868294)"
  },
  {
    "County": "Kings",
    "Location": "(40.65642, -73.950691)"
  },
  {
    "County": "New York",
    "Location": "(40.726966, -74.005966)"
  },
  {
    "County": "Queens",
    "Location": "(40.749338, -73.789673)"
  },
  {
    "County": "Richmond",
    "Location": "(40.566763, -74.148102)"
  }
]

In [14]:
with open('Geo_Loc_Counties.json','w') as outfile:
    json.dump(b,outfile)